.link {
  @apply text-[#000428] p-[10px] static;
}

.link:hover::before,
.active::before {
  content: "";
  width: 15px;
  height: 25px;
  background-color: #000428;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-bottom-right-radius: 100px; /* Radio de la esquina superior izquierda */
  border-top-right-radius: 100px; /* Radio de la esquina superior derecha */
  box-shadow: none;
}

.close{
  @apply absolute z-10 ms-20 shadow-[0_0_20px_gray] rounded-[15px] w-[170px] -translate-y-12 ;
}

.dropDown{
  @apply absolute top-0 ms-0 text-xs md:text-base flex flex-col bg-white text-[#000428] rounded-tl-[15px] rounded-bl-[15px] md:relative ;
}