.link {
  @apply text-[#000428] p-[10px] static !important;
}

.link:hover::before,
.drop-link-active::before {
  content: "";
  width: 15px;
  height: 25px;
  background-color: #000428;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-bottom-right-radius: 100px; /* Radio de la esquina superior izquierda */
  border-top-right-radius: 100px; /* Radio de la esquina superior derecha */
  box-shadow: none;
}
