.items{
  color: white;
  position: relative;
  color: white;
  transition: color 0.3s, background-color 0.1s;
}

.items:hover,
.active {
  background-color: white;
  color: #000428;
}

.items::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -20px;
  right: 0;
  border-radius: 50%;
  transition: 0.1s;
}

.items::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -20px;
  right: 0;
  border-radius: 50%;
  transition: 0.1s;
}

.items:hover::before,
.active::before {
  box-shadow: 10px 10px 0 0 white;
}

.items:hover::after,
.active::after {
  box-shadow: 10px -10px 0 0 white;
}

