.items {
  padding: 10px;
  color: white;
  position: relative;
}

.items:hover,
.active {
  background-color: white !important;
  color: #000428 !important;
  border-radius: 100%;
}

.items:hover::before,
.active::before {
  box-shadow: 10px 10px 0 0 white;
}

.items:hover::after,
.active::after {
  box-shadow: 10px -10px 0 0 white;
}