@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

/* Duda de colocar el media query para que en celular se vea toda la pantalla de login y register */
@media (max-width: 768px) {
  #root {
    height: 100%;
  }
}


::-webkit-scrollbar-thumb {
  background-color: #000428;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}